.msgContainer {
    height: 100vh;
}

#messages {
    height: 93vh;
}

#users > ol {
    padding: 0;
}
#users > ol > li {
    list-style-position: inside;
    background-color: #f8f9fa !important;
    color: #343a40!important;
    padding: 5%;
    margin: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.outer {
    display: table;
    position: absolute;
    top: 50;
    left: 0;
    height: 80%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.login-form {
    margin: auto; 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
    padding: 30px;
}